.chat-box {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

#messageArea {
    padding: 1rem;
}
#search-input:focus + span #search-icon {
    color: black;
  }
  #contacts-column {
    border-right: 1px solid #dee2e6;
}

#chat-column {
    border-left: 1px solid #dee2e6;
    background: rgb(70,88,106);
    background: radial-gradient(circle, rgba(70,88,106,1) 0%, rgba(115,133,167,1) 100%);
}
.mensaje-enviado {
    display: inline-block; /* Cambiar de block a inline-block */
    float: left; /* Añadir float left */
    border: 1px solid #000;
    border-radius: 25px;
    padding: 10px;
    margin: 10px 20px 10px 0;
    background-color: #f0f0f0;
    word-break: break-word;
    max-width: 80%;
    clear: both; /* Añadir clear both */
    font-size: xx-large;
}
