<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesión</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
  <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 
  <header>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color:steelblue;">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'img/logoduoc2.png' %}" alt="" width="80" height="">
          Matcher
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Caracteristicas</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sobre Nosotros
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Acerca de nuestro equipo<a></li>
                <li><a class="dropdown-item" href="#">Preguntas frecuentes</a></li>
                <li><a class="dropdown-item" href="#">Contáctanos</a></li>
              </ul>
            </li>
          </ul>
          
         
        </div>
      </div>
    </nav>
  </header>


    <main>
      <div class="container-fluid" style="display: flex; ; justify-content: end;">
        <div class="row" style="width:auto;">
          <a href="{% url 'register' %}">Registrarme</a>
      </div>
    </div>
        <div class="row" style="width:auto;">
          <form action="" method="POST" class="form form-active col-md-4 mx-auto shadow-lg text-center mt-5 p-2">
               {% csrf_token %}
            <h2 class="title title-second" style="display: flex; align-items: center; justify-content: center;">Inicio de
            sesión</h2>
            <br>
            
            <p>
              <label class="label-input">
                <input type="email" placeholder="Email" name="user" id="email">
              </label>
            </p>
            <p>
              <label class="label-input">
                <input type="password" placeholder="Contraseña" name="password" id="pass">
              </label>
            </p>
              
              <button  type="submit" class="btn btn-primary" style="width: 189px; height: 40px;" id="btnLogin">Iniciar Sesión</button>
              
              <div id="mensajeError" style="color: red; margin-top: 2em;">

              </div>
            <br><br>
            <a href="">¿Olvidaste tu contraseña?</a>
       
          </form>
              {% if mensaje %} 
              <div class="{{design}}" style="grid-row: auto;">
                {{mensaje}}
              </div>
              {% endif %}
        </div>
      </div>
      </div>
    </main>
  <footer>
   
  </footer>
  
</body>

</html>