<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style-register.css' %}">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script type="module" src="{% static 'js/validacionesRegister.js' %}"></script>
  <header>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color:steelblue;">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'img/logoduoc2.png' %}" alt="" width="80" height="">
          Matcher
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Características</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sobre Nosotros
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Únete a nuestro equipo</a></li>
                <li><a class="dropdown-item" href="#">Preguntas frecuentes</a></li>
                <li><a class="dropdown-item" href="#">Contáctanos</a></li>
              </ul>
            </li>
          </ul>
          <a href="{% url 'login' %}" class="ms-auto pe-3">
            <button type="button" class="btn btn-primary">Iniciar Sesión</button>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container-fluid" style="display: flex; align-items: center; justify-content: center;">
      <div class="row" style="width:auto;">
        <form id="formulario" action="" method="POST" class="form form-active col-md-12 mx-auto shadow-lg text-center p-4">
          {% csrf_token %}
          <h2 class="title title-second" style="display: flex; align-items: center; justify-content: center;">Registro</h2>
          <br>
          <div id="mensajesError" class="alert alert-danger" style="display: none;"></div>
          <div class="container-fluid">
            <div style="text-align: center;">
              <label class="label-input" for="nombres">
                <input type="text" placeholder="Nombres" name="names" id="nombres" required>
              </label>

              <label class="label-input" for="apellidos">
                <input type="text" placeholder="Apellidos" name="lastnames" id="apellidos" required>
              </label>
            </div>

            <div style="text-align: center;">
              <p>
              <label class="label-input" for="carrera">
                <input type="text" placeholder="Carrera" name="carrera" id="carrera" style="width: 381px;"  required>
              </label>
              </p>
            </div>
           
            <div style="text-align: center;">
              <p>
                <label class="label-input" for="mail">
                  <input type="email" placeholder="Email" id="mail" name="mail" style="width: 381px;" required>
                </label>
              </p>
            </div>
            <div style="text-align: center;">
              <label class="label-input" for="password">
                <input type="password" placeholder="Contraseña" id="password" name="password" style="width: 381px;" required>
              </label>
            </div>
          </div>

          <div class="container-fluid">
            <div style="text-align: center;">
              <p>
                Fecha de nacimiento
             
                <label for="birthDate"></label>
                <input type="date" id="birthDate" name="birthDate" required>
                <br>
                Sexo
                <br>

                <input type="radio" id="male" name="gender" value="masculino" required>
                <label for="male">Masculino</label>

                <input type="radio" id="female" name="gender" value="femenino" required>
                <label for="female">Femenino</label>

                <input type="radio" id="other" name="gender" value="otro" required>
                <label for="other">Otro</label>
              </p><br>
              <button type="submit" class="btn btn-primary" style="width: 189px; height: 40px;">Registrarse</button>
              <br><a href="{% url 'login' %}">Tengo cuenta</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
  <footer>
    <div class="container-fluid" style="width: auto; display: flex; justify-content: center;">
      <div>
        Al hacer clic en "Registrarte", aceptas nuestras Condiciones,
        <br>la Política de privacidad y la Política de cookies. Es posible
        <br>que te enviemos notificaciones por SMS, que puedes
        <br>desactivar cuando quieras.
      </div>
    </div>
  </footer>
</body>

</html>
